<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="Book Store Template, Free CSS Template, CSS Website Layout, CSS, HTML" />
    <meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
</head>
<body>
    <div id="templatemo_container">
        <div id="templatemo_menu">
            <ul>
                <li>@Html.ActionLink("TRANG CHỦ","Index","Admin")</li>
                @*<li>@Html.ActionLink("Quản lí chủ đề", "Sanpham", "Admin")</li>
                <li>@Html.ActionLink("Quản lí Nhà Xuất Bản", "Nhaxuatban", "Admin")</li>*@
                <li>@Html.ActionLink("Quản lí Sách", "Sach", "Admin")</li>
            </ul>
        </div>


        <div class=" container">
            <div>
                @RenderBody()
            </div>
        </div>
        </div>
</body>
</html>
